body{
    background-color: ghostwhite;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app-wrapper{
    max-width: 1000px;
}

.recipe-card{
    transition:transform 0.2s ease, box-shadow 0.2s ease;
}

.recipe-card:hover{
    transform: translateY(-4px);
    box-shadow: 0 8px 20px palevioletred;
}

.card-img-top{
    object-fit: cover;
    height: 200px;
}